<style type="text/css">
    #frmSearch label {
        display: inline-block;
        width: 120px;
        padding-right: 5px;
        text-align: right;
    }

    #frmSearch .k-button {
        margin: 20px 0 0 125px;
    }

    #frmSearch .k-readonly {
        color: gray;
    }

    .demo-section {
        width: 600px;
    }

    .k-content1 > table > tbody > tr {
        cursor: pointer;
        align-content:flex-end;
    }
</style>   
<!DOCTYPE html>
<html>
<head>
    <base href="http://demos.telerik.com/kendo-ui/web/validator/index.html">
    <style>
        html {
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title></title>
  
</head>
<body>
    <script>
                $(document).ready(function() {
                    $("#files").kendoUpload({
                        multiple: false,
                        async: {
                            saveUrl: '@Url.Action("Save", "Home")',
                            autoUpload: true
                        },
                        localization: {
                            select: "Select a file",
                            uploadSelectedFiles: "Send"
                        }
                    });
                      
                    
                });
    </script>
    <div id="example" align="left" class="k-content2">
        <form id="students" action="http://localhost:1082/Home/Save" align="left">
            <fieldset class="k-block">
                <h3>Detalles del Sitio</h3>
                <table align="left">

                    <tr align="left">
                        <td>
                            <label for="fullname" class="required">Latitud</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Es necesario Acceder al Sitio?</label>
                        </td>


                        <td>

                            <fieldset class="k-block">
                    








                        <input type="radio" name="theme" id="theme_red" checked="checked" />
                        <label for="theme_red">Si</label>

                        <input type="radio" name="theme1" id="theme_white" />
                        <label for="theme_white">No</label>

                        </fieldset>


                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label for="fullname" class="required">Longitud</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Loger se Encuentra a la Interperie?</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label for="fullname" class="required">Altitud</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Condiciones del Lugar de la Instalacion?</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>











                </table>
            </fieldset>
            <br>


            <br>




            <fieldset class="k-block">
                <h3>Detalles de la Calidad de la Señal</h3>
                <table align="left">

                    <tr align="left">
                        <td>
                            <label for="fullname" class="required">Posicion Final de la Antena</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Tipo de Antena Usada</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label for="fullname" class="required">CSQ Final(Dentro Camara)</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">CSQ fuera de la Camara</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label for="fullname" class="required">Estado Test GPRS</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Se puede Instalar Poste para Antena</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>











                </table>
            </fieldset>
            <br>


            <br>
            <fieldset class="k-block">
                <h3>Detalles de la Instalacion</h3>
                <table align="left">

                    <tr align="left">
                        <td>
                            <label for="fullname" class="required">Tipo de Instalacion</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Estado del Flujometro</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label for="fullname" class="required">Lectura Manometro AAb</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Tipo de Flujometro</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label for="fullname" class="required">Lectura Logger AAr</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Emisor de Pulsos</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label for="fullname" class="required">Lectura Manometro AAb</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Fue Reeplazado el Emisor de Pulsos?</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label for="fullname" class="required">Lectura Logger AAb</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Litros por Pulso</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>









                </table>
            </fieldset>
            <br>


            <br>
            <fieldset class="k-block">
                <h3>Detalles de la Camara</h3>
                <table align="left">

                    <tr align="left">
                        <td>
                            <label for="fullname" class="required">Posicion del Logger</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Se necesita Bomba para Desaguar?</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label for="fullname" class="required">Camara Inundada</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Se necesita Desviar/Manipular Trafico?</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label for="fullname" class="required">Tipo de Camara</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Es necesario Herramienta para apertura de Camara?</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label for="fullname" class="required">Condicion de La Camara</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Se necesita herramienta para apertura de Camara?</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label for="fullname" class="required">Condicion de la Camara</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Se necesitan 2 operadores para abrir la camara</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label for="fullname" class="required">Tipo de Tapa de Camara</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        

                    </tr>








                </table>
            </fieldset>
            <br>


            <br>

            <fieldset class="k-block">
                <h3>Canales Usados del Logger</h3>
                <table align="left">

                    <tr align="left">
                        <td>
                            <label for="fullname" class="required">Canal 1</label>
                        </td>
                        <td>
                            <label for="fullname" class="required">Digital Caudal</label>
                        </td>
                        <td>
                            <label for="fullname" class="required">Canal 3</label>
                        </td>
                        <td>
                            <label for="fullname" class="required">4-20mA</label>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label for="fullname" class="required">Canal 2</label>
                        </td>
                        <td>
                            <label for="fullname" class="required">Digital Caudal</label>
                        <td>
                            <label for="fullname" class="required">Canal 4</label>
                        </td>
                        <td>
                            <label for="fullname" class="required">Modbus</label>
                        </td>

                    </tr>

                   

                </table>
            </fieldset>
            <br>


            <br>
            <fieldset class="k-block">
                <h3>Detalles del Sitio</h3>
                <table align="left">

                    <tr align="left">
                        <td>
                            <label for="fullname" class="required">Latitud</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Es necesario Acceder al Sitio?</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label for="fullname" class="required">Longitud</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Loger se Encuentra a la Interperie?</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label for="fullname" class="required">Altitud</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Condiciones del Lugar de la Instalacion?</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>











                </table>
            </fieldset>
            <br>


            <br>




            <fieldset class="k-block">
                <h3>Equipamiento Utilizado(Por el Instalador)</h3>
                <table align="left">

                    <tr align="left">
                        <td>
                            <label for="fullname" class="required">Tipo de Logger</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Bateria Instalada?</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label for="fullname" class="required">N/S Logger</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Tipo de Bateria</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label for="fullname" class="required">>N/S Bateria</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                       

                    </tr>











                </table>
            </fieldset>
            <br>


            <br>
            <fieldset class="k-block">
                <h3>Descripcion Detallada</h3>
                <table align="left">

                    <tr align="left">
                        <td>
                            <label for="fullname" class="required">Comentarios</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Fecha</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label for="fullname" class="required">Hora</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>
                        <td>
                            <label for="fullname" class="required">Realizado Por</label>
                        </td>
                        <td>
                            <input type="text" id="fullname" name="studentname" class="k-textbox" placeholder="Full student name" required validationmessage="Please enter {0}" />
                        </td>

                    </tr>

                   










                </table>
            </fieldset>





            <div class="demo-section k-header">
                <input name="files" id="files" type="file" />
                <p>
                    <input type="submit" value="Submit" class="k-button" />
                </p>
            </div>




        </form>

    <style scoped>
        .k-textbox {
            width: 20.8em;
        }

        .k-content2 {
            float: left;
            border-spacing: 0;
            width: 100%;
            height: 54.167em;
            border-width: 0;
            margin: 0;
            table-layout:fixed;
            text-align: left;
            
            outline: 0;
            align-content:flex-start;
            align-items:flex-start;
        }





        #students {
            width: 510px;
            height: 323px;
            margin: 30px auto;
            padding: 10px 20px 20px 170px;
        }

            #students h3 {
                font-weight: normal;
                font-size: 1.4em;
                border-bottom: 1px solid #ccc;
            }

            #students ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            #students li {
                margin: 10px 0 0 0;
            }

        label {
            display: inline-block;
            width: 100px;
            text-align: left;
        }

        .required {
            font-weight: bold;
        }

        .accept {
            padding-left: 90px;
        }

        .status {
            padding-left: 90px;
            padding-bottom: 550;
        }

        .valid {
            color: green;
        }

        .invalid {
            color: red;
        }

        span.k-tooltip {
            margin-left: 1px;
        }
    </style>


    </div>





</body>

</html>
